<div class="p-2">
    <div class="hstack gap-3">
        <h2>Files</h2>
        <a type="button" class="btn btn-primary ms-auto" routerLink="/files/add">Add File</a>
    </div>

    <section *ngIf="files$ | async as files, else loading">
        <div *ngIf="files.length > 0 else empty">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">File name</th>
                        <th scope="col">Last modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of files; index as i">
                        <td>{{i}}</td>
                        <td>{{data.file.name}}</td>
                        <td>{{data.file.lastModified | date }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger"
                                (click)="this.delete(i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>

<ng-template #empty>
    <h4>There are no files uploaded</h4>
</ng-template>